[include]
  path = ~/.gitconfig.local
[core]
  editor = nvim
[commit]
  template = ~/.git_commit_msg_tpl
  verbose = true
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[alias]
  wip = "commit --allow-empty -m '[ci skip] wip'"
  redo = "reset --soft HEAD^"
